<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>INTRO</title>
	<link rel="stylesheet" type="text/css" href="css/intro.css">
	<!-- Bootstrap START -->
		<!-- 합쳐지고 최소화된 최신 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- 부가적인 테마 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- Bootstrap END -->
</head>
<body>

	<div>
		<img src="img/intro/Title_BI_Gray_gl.png" alt="Responsive image" style="width: 100vw; height: 100vh;" />
		<a id="enterBtn" class="btn btn-default  btn-lg" href="#main">입장하기</a>
	</div>

</body>
</html>